<?xml version="1.0"?>
<!--
/**
 * @description DI configuration
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bina\Social\Api\SystemConfigInterface" type="Bina\Social\Model\System\Config"/>
</config>