<?xml version="1.0"?>
<!--
/**
 * @description Social
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Bina_Social">
        <sequence>
            <module name="Magento_Theme"/>
        </sequence>
    </module>
</config>