/**
 * @description Widget styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
& when (@media-common = true) {
  .social-container {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;

    .social {
      margin    : 0 2% 0 0;
      opacity   : 0.9;
      transition: all 0.3s ease;

      &:hover {
        -webkit-transform: scale(1.3);
        -ms-transform    : scale(1.3);
        transform        : scale(1.3);
        opacity          : 1;
      }

      img {
        display  : block;
        width    : 100%;
        max-width: 35px;
      }
    }
  }
}