<?xml version="1.0"?>
<!--
/**
 * @description System config
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <group id="store_information">
                <field id="facebook" type="text" sortOrder="1000000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook</label>
                </field>

                <field id="instagram" type="text" sortOrder="2000000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instagram</label>
                </field>

                <field id="twitter" type="text" sortOrder="3000000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter</label>
                </field>

                <field id="discord" type="text" sortOrder="4000000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Discord</label>
                </field>
            </group>
        </section>
    </system>
</config>